# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.*

# Local DVC cache / remotes
.dvc/cache/
dvc-storage/

# Generated local files
*.log

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
